In [1]:
import psycopg2 as pg2

In [2]:
conn = pg2.connect(database='dvdrental',user='postgres') # this user has no password

In [4]:
cur = conn.cursor()

In [5]:
cur.execute('SELECT * FROM payment')

In [10]:
# fetchall()
# fetchmany()
# fetchone()

data = cur.fetchmany(10)

In [12]:
data[:5]

[(17524,
  345,
  2,
  1550,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 16, 0, 27, 1, 996577)),
 (17525,
  345,
  2,
  2766,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 19, 16, 13, 41, 996577)),
 (17526,
  346,
  1,
  1994,
  Decimal('5.99'),
  datetime.datetime(2007, 2, 17, 9, 35, 32, 996577)),
 (17527,
  346,
  2,
  3372,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 21, 12, 2, 45, 996577)),
 (17528,
  346,
  1,
  3421,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 21, 15, 51, 24, 996577))]

In [13]:
data[0]

(17524,
 345,
 2,
 1550,
 Decimal('0.99'),
 datetime.datetime(2007, 2, 16, 0, 27, 1, 996577))

In [16]:
for dat in data[0]:
    print(dat)

17524
345
2
1550
0.99
2007-02-16 00:27:01.996577