In [3]:
import psycopg2 as pg2

In [4]:
conn = pg2.connect(database='exercises',user='postgres')

In [5]:
cursor = conn.cursor()

In [6]:
query = '''
        SELECT name, membercost
        FROM cd.facilities;
        '''

In [7]:
cursor.execute(query)

In [8]:
cursor.fetchall()

[('Tennis Court 1', Decimal('5')),
 ('Tennis Court 2', Decimal('5')),
 ('Badminton Court', Decimal('0')),
 ('Table Tennis', Decimal('0')),
 ('Massage Room 1', Decimal('35')),
 ('Massage Room 2', Decimal('35')),
 ('Squash Court', Decimal('3.5')),
 ('Snooker Table', Decimal('0')),
 ('Pool Table', Decimal('0'))]

<ol>
    <li>How can you retrieve all the information from the cd.facilities table?</li>
    <li>You want to print out a list of all of the facilities and their cost to members. How would you retrieve a list of only facility names and costs?</li>
    <li>How can you produce a list of facilities that charge a fee to members?</li>
    <li>How can you produce a list of facilities that charge a fee to members, and that fee is less than 1/50th of the monthly maintenance cost? Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.</li><li>How can you produce a list of all facilities with the word 'Tennis' in their name?</li>
    <li>How can you retrieve the details of facilities with ID 1 and 5? Try to do it without using the&nbsp;OR&nbsp;operator.</li>
    <li>How can you produce a list of members who joined after the start of September 2012? Return the memid, surname, firstname, and joindate of the members in question.</li>
    <li>How can you produce an ordered list of the first 10 surnames in the members table? The list must not contain duplicates.</li>
    <li>You'd like to get the signup date of your last member. How can you retrieve this information?</li>
    <li>Produce a count of the number of facilities that have a cost to guests of 10 or more.</li>
    <li>Skip this one, no question for #11.</li>
    <li>Produce a list of the total number of slots booked per facility in the month of September 2012. Produce an output table consisting of facility id and slots, sorted by the number of slots.</li>
    <li>Produce a list of facilities with more than 1000 slots booked. Produce an output table consisting of facility id and total slots, sorted by facility id.</li>
    <li>How can you produce a list of the start times for bookings for tennis courts, for the date '2012-09-21'? Return a list of start time and facility name pairings, ordered by the time.</li>
    <li>How can you produce a list of the start times for bookings by members named 'David Farrell'?</li>
</ol>

1. 
`SELECT * FROM cd.facilities;`


2. 
`SELECT name, membercost
FROM cd.facilities;`


3. 
`SELECT facid, name, membercost, monthlymaintenance
FROM cd.facilities
WHERE membercost > 0;`


4. 
`SELECT facid, name, membercost, monthlymaintenance 
FROM cd.facilities
WHERE (membercost > 0) AND (membercost < monthlymaintenance / 50);`


5. 
`SELECT name FROM cd.facilities
WHERE name LIKE 'Tennis%';`


6. 
`SELECT *
FROM cd.facilities
WHERE facid IN (1,5);`


7. 
`SELECT memid, surname, firstname, joindate
FROM cd.members
WHERE joindate > '2012-09-01';`


8. 
`SELECT surname
FROM cd.members
GROUP BY surname
ORDER BY surname
LIMIT 10`


9. 
`SELECT joindate
FROM cd.members
ORDER BY joindate DESC
LIMIT 1`


10. 
`SELECT COUNT(*) number_of_facilities_that_cost_more_than_10
FROM cd.facilities
WHERE guestcost >= 10`


12. 
`SELECT facid, COUNT(slots)
FROM cd.bookings
WHERE extract(month from starttime) = 9
GROUP BY facid
ORDER BY COUNT(slots)`


13. 
`SELECT facid, COUNT(slots)
FROM cd.bookings
GROUP BY facid
HAVING COUNT(slots) > 1000`





15. 
`SELECT starttime, name
FROM cd.facilities
JOIN cd.bookings
ON cd.facilities.facid = cd.bookings.facid
WHERE name LIKE 'Tennis%' AND date_trunc('day',starttime) = '2012-09-21'
SELECT memid, starttime
FROM cd.bookings
WHERE memid IN (SELECT cd.members.memid
FROM cd.members
JOIN cd.bookings
ON cd.members.memid = cd.bookings.memid
WHERE firstname = 'David' AND surname = 'Farrell')`