In [1]:
import psycopg2 as pg2

In [2]:
conn = pg2.connect(database='exercises',user='postgres')

In [3]:
cursor = conn.cursor()

In [4]:
query = '''
        SELECT * FROM cd.facilities;
        '''

In [9]:
cursor.execute(query)

In [8]:
cursor.fetchall()

[(0,
  'Tennis Court 1',
  Decimal('5'),
  Decimal('25'),
  Decimal('10000'),
  Decimal('200')),
 (1,
  'Tennis Court 2',
  Decimal('5'),
  Decimal('25'),
  Decimal('8000'),
  Decimal('200')),
 (2,
  'Badminton Court',
  Decimal('0'),
  Decimal('15.5'),
  Decimal('4000'),
  Decimal('50')),
 (3,
  'Table Tennis',
  Decimal('0'),
  Decimal('5'),
  Decimal('320'),
  Decimal('10')),
 (4,
  'Massage Room 1',
  Decimal('35'),
  Decimal('80'),
  Decimal('4000'),
  Decimal('3000')),
 (5,
  'Massage Room 2',
  Decimal('35'),
  Decimal('80'),
  Decimal('4000'),
  Decimal('3000')),
 (6,
  'Squash Court',
  Decimal('3.5'),
  Decimal('17.5'),
  Decimal('5000'),
  Decimal('80')),
 (7,
  'Snooker Table',
  Decimal('0'),
  Decimal('5'),
  Decimal('450'),
  Decimal('15')),
 (8, 'Pool Table', Decimal('0'), Decimal('5'), Decimal('400'), Decimal('15'))]